<!DOCTYPE html>
<html lang="en-AU">

<head>
	{% set socialImage = 'https://kapers.dev/img/socials/default.png' %}
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
	<link rel="stylesheet" href="/css/main.css" />
	<meta name="theme-color" content="#9440a0" />

	{# Meta Info #}
	<title>{{pagetitle}}</title>
	<meta name="description" content="{{description}}" />

	{# OG Social #}
	<meta property="og:title" content="{{pagetitle}}" />
	<meta property="og:description" content="{{description}}">
	<meta property="og:image" content="{{socialImage}}" />
	<meta name="author" content="Amy Kapernick" />
	<meta property="og:url" content="{{env.siteUrl}}" />

	{# Twitter #}
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@amys_kapers" />
	<meta property="twitter:image" content="{{socialImage}}" />
	<meta name="twitter:creator" content="@amys_kapers" />
	<meta property="twitter:title" content="{{pagetitle}}" />
	<meta property="twitter:description" content="{{description}}" />
</head>

<body>
	<main id="main">
		{% block content %}{% endblock %}
	</main>
</body>

</html>