{% set pagetitle = "404 - Page Not Found" %}

{% set description = "404 - Page Not Found" %}

{% extends 'layouts/main.njk' %}

{% block content %}

{% svg 'pattern' %}

<h1>404</h1>

<p>Page not found</p>

<p>Check that the URL is right, and try again.</p>

{% endblock %}