---
permalink: _redirects
---

{%- for url in urls.redirects -%}
/{{ url.slug }} {{ url.url | safe }} 302
{% endfor %}

# Homepage Redirect
/ https://amyskapers.dev 302

# Catch AllHomepageRedirecthttps
/* /404 302