---
permalink: admin/config.yml
---

---
backend:
  name: github
  repo: amykapernick/1y
  branch: prod

local_backend: true

media_folder: "site/data/img"

site_url: https://kapers.dev

collections:
  - name: redirect_urls
    label: Redirect URLs
    label_singular: Redirect URL
    files:
      - label: "Redirect URLs"
        name: urls
        file: "site/_data/urls.json"
        fields:
          - name: domain
            widget: hidden
            default: 'https://kapers.dev'
          - label: Redirects
            name: redirects
            widget: list
            fields:
              - label: Slug
                name: slug
                widget: string
              - label: Redirect URL
                name: url
                widget: string
