<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Content Manager</title>
</head>

<body>
	<script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
	<script>
		CMS.registerPreviewStyle("/styles/preview.css");

		const RedirectsPreview = createClass({
			render: function () {
				const siteUrl = this.props.entry.getIn(['data', 'domain'])

				return h('dl', {
					class: 'preview_urls'
				},
					this.props.widgetsFor('redirects').sort((a, b) => {
						const slugA = a.getIn(['data', 'slug'])
						const slugB = b.getIn(['data', 'slug'])
						if (slugA < slugB) return -1
						if (slugA > slugB) return 1
						return 0

					}).map((redirect, index) => {
						return h('div', { key: index },
							h('dt',
								{},
								siteUrl,
								'/',
								redirect.getIn(['data', 'slug']),
							),
							h('dd',
								{},
								redirect.getIn(['data', 'url']),
								h('details', {},
									h('summary', {},
										'QR Code ',
										h('code', {},
											'https://kapers.dev/img/qr_codes/',
											redirect.getIn(['data', 'slug']),
											'.svg'
										)
									),
									h('a', {
										href: `https://kapers.dev/img/qr_codes/${redirect.getIn(['data', 'slug'])}.svg`,
										download: `qr_${redirect.getIn(['data', 'slug'])}.svg`
									},
										h('span', {
											style: {
												display: 'none'
											}
										}, 'Download QR Code'),
										h('img', {
											src: `https://kapers.dev/img/qr_codes/${redirect.getIn(['data', 'slug'])}.svg`,
											width: '200',
											height: '200',
											alt: ""
										})
									),
								)
							)
						)
					})
				)
			}
		})

		CMS.registerPreviewTemplate('urls', RedirectsPreview)
	</script>
	<script>

	</script>
</body>

</html>