$background: #f7f0eb;

$blue: #318ce7;
$blue_dark_10: #050e17;
$blue_dark_25: #0c233a;
$blue_dark_50: #194674;
$blue_dark_75: #2569ad;
$blue_dark_90: #2c7ed0;

$blue_light_10: #eaf4fd;
$blue_light_25: #cce2f9;
$blue_light_50: #98c6f3;
$blue_light_75: #65a9ed;
$blue_light_90: #4698e9;

$darkpurple: #9440a0;
$darkpurple_dark_10: #0f0610;
$darkpurple_dark_25: #251028;
$darkpurple_dark_50: #4a2050;
$darkpurple_dark_75: #6f3078;
$darkpurple_dark_90: #853a90;

$darkpurple_light_10: #f4ecf6;
$darkpurple_light_25: #e4cfe7;
$darkpurple_light_50: #caa0d0;
$darkpurple_light_75: #af70b8;
$darkpurple_light_90: #9f53aa;

$green: #64ad66;
$green_dark_10: #0a110a;
$green_dark_25: #192b1a;
$green_dark_50: #325733;
$green_dark_75: #4b824d;
$green_dark_90: #5a9c5c;

$green_light_10: #f0f7f0;
$green_light_25: #d8ebd9;
$green_light_50: #b2d6b3;
$green_light_75: #8bc28c;
$green_light_90: #74b575;

$pink: #cb5699;
$pink_dark_10: #14090f;
$pink_dark_25: #331626;
$pink_dark_50: #662b4d;
$pink_dark_75: #984173;
$pink_dark_90: #b74d8a;

$pink_light_10: #faeef5;
$pink_light_25: #f2d5e6;
$pink_light_50: #e5abcc;
$pink_light_75: #d880b3;
$pink_light_90: #d067a3;

$purple: #7561c1;
$purple_dark_10: #0c0a13;
$purple_dark_25: #1d1830;
$purple_dark_50: #3b3161;
$purple_dark_75: #584991;
$purple_dark_90: #6957ae;

$purple_light_10: #f1eff9;
$purple_light_25: #ddd8f0;
$purple_light_50: #bab0e0;
$purple_light_75: #9889d1;
$purple_light_90: #8371c7;

$red: #e53f51;
$red_dark_10: #170608;
$red_dark_25: #391014;
$red_dark_50: #732029;
$red_dark_75: #ac2f3d;
$red_dark_90: #ce3949;

$red_light_10: #fcecee;
$red_light_25: #f9cfd4;
$red_light_50: #f29fa8;
$red_light_75: #ec6f7d;
$red_light_90: #e85262;

$yellow: #ffce03;
$yellow_dark_10: #1a1500;
$yellow_dark_25: #403401;
$yellow_dark_50: #806702;
$yellow_dark_75: #bf9b02;
$yellow_dark_90: #e6b903;

$yellow_light_10: #fffae6;
$yellow_light_25: #fff3c0;
$yellow_light_50: #ffe781;
$yellow_light_75: #ffda42;
$yellow_light_90: #ffd31c;

$orange: #f78d2b;
$navy: #364c93;

$neutral: #000000;
$neutral_light_10: #e6e6e6;
$neutral_light_25: #bfbfbf;
$neutral_light_50: #808080;
$neutral_light_75: #404040;
$neutral_light_90: #191919;

$font_code: 'Source Code Pro', monospace;
$font_main: Montserrat, sans-serif;
